{% block javascript %}
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/moment.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/bootstrap-datetimepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>

    <script type="javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("a").tooltip({placement : 'right'});
        });
    </script>
{% endblock %}
{% block estylesheet %}
    <link href="{{ asset('bundles/AppBundle/css/bootstrap.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/css/bootstrap-theme.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/css/calendari.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/css/modificacionsPropiesBootstrap.css') }}" type="text/css" rel="stylesheet"/>

{% endblock %}
{% block cabecera %}
    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path("app_homepage") }}">Inici<span class="sr-only">(current)</span></a></li>
                        {% if is_granted('ROLE_DIRECTIU') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Noticies<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("app_llistarNoticies") }}">Visualitzar noticies</a></li>
                                <li><a href="{{ path("app_afegirNoticia") }}">Afegir noticia</a></li>
                            </ul>
                        </li>
                        {% elseif app.user %}
                        <li><a href="{{ path("app_llistarNoticies") }}">Noticies<span class="sr-only">(current)</span></a></li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Esdeveniments<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_MUSIC') %}
                                    {% if (app.user.comprobarDirector() == 1)  or is_granted('ROLE_PRESIDENT') %}
                                    <li><a href="{{ path("app_afegirEvent") }}">Nou Esdeveniment</a></li>
                                    <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li><a href="{{ path("app_llistarConcertsMusic") }}">Asistencia a actes</a></li>
                                    <li role="separator" class="divider"></li>
                                {% endif %}
                                <li><a href="{{ path("app_llistarActes") }}">Próxims actes</a></li>
                                <li><a href="{{ path("app_llistarActesPassats") }}">Actes passats</a></li>
                            </ul>
                        </li>
                        {% if app.user %}
                            {% if (app.user.comprobarDirector() == 1) or is_granted('ROLE_ARXIVER') %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Arxiu<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path("app_llistarObres") }}">Visualitzar l'arxiu</a></li>
                                        <li><a href="{{ path("app_afegirObra") }}">Afegir obra</a></li>
                                    </ul>
                                </li>
                            {% elseif (is_granted('ROLE_MUSIC')) %}
                            <li><a href="{{ path("app_llistarObres")  }}">Arxiu<span class="sr-only">(current)</span></a></li>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_DIRECTIU') or is_granted('ROLE_MUSIC') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Membresía<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path("app_llistarCordes") }}">Músics</a></li>
                                <li><a href="{{ path("app_llistarInactius") }}">Membres inactius</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path("app_llistarDirectius") }}">Directiva</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if app.user %}
                        {% if (app.user.comprobarDirector() == 1) or (app.user.esCapDeCorda() == 1) or is_granted('ROLE_DIRECTIU') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administració<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <!-- només actiu per admin -->
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path("app_gestioUsuaris") }}">Gestió de permisos</a></li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}

                                    <li><a href="{{ path("app_administrarCompetencia") }}">Competencies del músic</a></li>
                                    {% if (app.user.comprobarDirector() == 1) or is_granted('ROLE_PRESIDENT') or (app.user.esCapDeCorda() == 1) %}
                                        <li><a href="{{ path("app_afegirCompetencia") }}">Assignar instrument a músic</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_DIRECTIU') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path("app_llistarPrestecs") }}">Magatzem d'Instruments</a></li>
                                    {% endif %}
                                    {% if is_granted('ROLE_MAGATZEM') %}
                                        <li><a href="{{ path("app_afegirInstrument") }}">Donar d'alta instrument</a></li>
                                    {% endif %}
                                    <!-- només actiu per admin -->
                                    {% if is_granted('ROLE_PRESIDENT') %}
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{{ path("app_afegirAgrupacio") }}">Nova agrupació</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}
                        {% endif %}

                    </ul>
                    <ul class="nav navbar-nav navbar-right" style="margin-right:40px;">
                        {% if not app.user %}
                        <li class="dropdown-toogle" id="menuLogin">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navLogin">Login</a>
                            <div class="dropdown-menu" style="padding:17px;">
                                <form class="form" id="formLogin" action="{{ path("app_login_check") }}" method="post">
                                    <input name="_username" value="" id="username" type="text" placeholder="Usuari" style="margin-bottom:10px;">
                                    <input name="_password" id="password" type="password" placeholder="Contrasenya" style="margin-bottom:10px;"><br>
                                    <button type="submit" class="btn btn-default">Inicia Sessió</button>
                                </form>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path ('app_registre') }}">Registre</a></li>
                    </ul>
                    {% endif %}

                    {% if app.user %}
                        <ul class="navbar-nav" id="imgPerfilNav">
                            <li id="fotet" class="dropdown">
                                <a  class="dropdown-toggle" href="#" data-toggle="dropdown"><img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ app.user.imagenPerfil}}"  alt="Generic placeholder image" width="40" height="40" style="margin-top:5px;"></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('app_perfil', {'id':app.user.id}) }}">Perfil</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('app_modificarPassword', {'id':app.user.id}) }}">Modificar contrasenya</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('app_logout')}}">Eixir</a></li>
                                </ul>
                            </li>

                        </ul>

                        </li>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('app_perfil', {'id':app.user.id}) }}">{{ app.user.username }}</a></li>
                            </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
{% block imagen %}
    <div class="container-fluid">
        <div class="row">
            <img src="{{ asset('bundles/AppBundle/banda/banda.jpg') }}"class="img-responsive">
            <img id="imgNoticies" class="img-circle" src="{{ asset('bundles/AppBundle/banda/widget.png') }}" alt="Generic placeholder image" width="45" height="45">
        </div>
    </div>
{% endblock %}

{% if app.user %}
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/widget.js') }}"></script>

<body>
<script type="text/javascript" charset="utf-8" >
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "{{ path('app_widget')}}",
            success: function (datos) {

                $('#divNoticies').append('<table class="table" id="tablaEvents">');
                $.each(datos, function (k, v) {
                    if (k == 'events') {
                        for (i = 0; i < datos['events'].length; i++) {
                            var routesi = "{{ path('app_asistenciaSi',{'idEvent':'IDEVENT', 'idUsuari': app.user.id}) }}";
                            var routeno = "{{ path('app_asistenciaNo',{'idEvent':'IDEVENT', 'idUsuari': app.user.id}) }}";
                            var acte = "{{ path('app_mostrarEvent',{'id':'IDEVENT'}) }}";
                            var idEvent = v[i].id;
                            var urlCorrectaSi = routesi.replace("IDEVENT", idEvent);
                            var urlCorrectaNo = routeno.replace("IDEVENT", idEvent);

                            var result = "";
                            var enllaçActe = acte.replace("IDEVENT", idEvent);
                            var nom = v[i].tipo + " " + v[i].nom;
                            result += "<tr><td><a href='" +enllaçActe+"'>" + nom.substring(0,25);
                            if (nom.length > 25){
                                result += '... </a></td>';
                            } else { result += '</a></td>';}
                            result += "<td>" + v[i].agrupacio + "</td>";
                            result += "<td class='lloc'>" + v[i].lloc.substring(0,15);
                            if (v[i].lloc.length > 15){
                                result += '... </td>';
                            } else { result += '</td>';}
                            result += "<td>" + v[i].fexa+'</td><td>'+ v[i].hora + "</td>";
                            result += "<td><a href='" +urlCorrectaSi+"'><span class='glyphicon glyphicon-thumbs-up'></span></a></td>";
                            result += "<td><a href='" +urlCorrectaNo+"'><span class='glyphicon glyphicon-thumbs-down'></span></a></td>";
                            result += '</tr>';

                            $('#tablaEvents').append(result);

                        }
                    }
                });

                $('#divNoticies').append('<table class="table" id="tablaNoticies">');
                $.each(datos, function (k, v) {
                    if (k == 'noticies') {
                        for (i = 0; i < datos['noticies'].length; i++) {
                            var result =  '';

                            var noticia = "{{ path('app_mostrarNoticia',{'id':'IDNOTICIA'}) }}";
                            var idNoticia = v[i].id;
                            var enllaçNoticia = noticia.replace("IDNOTICIA", idNoticia);

                            result += '<tr><td><a href='+enllaçNoticia+'>' + v[i].titol.substring(0,40)
                            if (v[i].titol.length > 40){
                                result += '... </a></td>';
                            } else {
                                result += '</a></td>';
                            }
                            result += '<td>' + v[i].fexa + '</td>';
                            if (v[i].font != null && v[i].url != null){
                                result += '<td><a href="http://'+v[i].url+'">' + v[i].font.substring(0,15) + '</a></td>';
                            } else if (v[i].font != null && v[i].url == null){
                                result += '<td>' + v[i].font.substring(0,15) + '</td>';
                            } else if (v[i].font == null && v[i].url != null){
                                result += '<td><a href="http://'+v[i].url+'">' + v[i].url.substring(0,15) + '</a></td>';
                            } else {
                                result += '<td></td>'
                            }
                            result += '</tr>';
                            $('#tablaNoticies').append(result);
                        }
                    }
                });


            }
        });
        return false;
    });

</script>

<div id="divNoticies" class="ui-widget-content ui-corner-all">
    <!-- ACÍ VA LA TABLA CREADA EN EL AJAX ANTERIOR-->
</div>
{% endif %}

<div class="container">
    <div class="row">

        {% block body %}

        {% endblock %}
        <!-- MENU DRETA -->
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                {# {{ include('AppBundle::proba.html.twig', {'user':app.user.username}) }} #}
            </div>
            <div class="sidebar-module">
                <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/calendari.js') }}"></script>
                <div id="my-calendar"></div>

                <script type="application/javascript">
                    $(document).ready(function () {

                        $("#my-calendar").zabuto_calendar({
                            language: "ca",
                            ajax: {
                                url: "{{ path('app_eventsCalendari')}}",
                                modal: true,
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>
</body>

{% block peu %}
    <footer class="panel-footer">
        <div class="container">
            <p class="text-muted">Administració i gestió d'entitats musicals. </p>
        </div>

    </footer>
{% endblock %}