{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>Llistat de músics</h1>

        <div id="dialog-confirm" title="Eliminar Competencia" hidden>
            <p><span class="ui-icon ui-icon-alert"></span>Vas a llevar el músic d'aquesta agrupació ¿Estàs segur?</p>
        </div>

        <form class="form-inline" action="{{ path("app_administrarCompetencia") }}" method="get">

            <div class="form-group">
                <label for="agrupacio">Agrupació</label>
                <input type="text" class="form-control" name="agrupacio">
                <label for="instrument">Instrument</label>
                <input type="text" class="form-control" name="instrument">
                <label for="music">Músic</label>
                <input type="text" class="form-control" name="music">
                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Instrument</th>
                <th>Agrupació</th>
                <th></th>
            </tr>
            </thead>
            {% for result in competencies %}
                <tr>
                    <td>{{ result.idUsuario.nombre }} {{ result.idUsuario.apellidos }}</td>
                    <td>{{ result.idInstrumento.nombre }}</td>
                    <td>{{ result.idAgrupacion.nombre }}</td>

                    <td>
                        {% if is_granted('ROLE_PRESIDENT') %}
                        <a href="#" class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Eliminar Competencia">
                            <img class="" src="{{ asset('bundles/AppBundle/banda/remove.png') }}" onclick="confirmar('eliminarCompetencia',{{ result.id }})"></a>
                        {%  else  %}
                            {% if is_granted('ROLE_MUSIC') and director %}
                                {% for mostra in agrups %}
                                    {% if mostra == result.idAgrupacion.nombre %}
                                        <a href="#" class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Eliminar Competencia">
                                            <img class="" src="{{ asset('bundles/AppBundle/banda/remove.png') }}" onclick="confirmar('eliminarCompetencia',{{ result.id }})"></a>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for mostra in capCorda %}
                                    {% if (mostra.idAgrupacion.nombre == result.idAgrupacion.nombre) and (mostra.idInstrumento.nombre == result.idInstrumento.nombre) %}
                                        <a href="#" class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Eliminar Competencia">
                                            <img class="" src="{{ asset('bundles/AppBundle/banda/remove.png') }}" onclick="confirmar('eliminarCompetencia',{{ result.id }})"></a>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(competencies) }}
        </div>
    </div>
{% endblock %}