{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>Llistat de músics</h1>

        <form class="form-inline" action="{{ path("app_afegirCompetencia") }}" method="get">
            <div class="form-group">
                <label for="music">Músic</label>
                <input type="text" class="form-control" name="music">
                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

        <table class="table" style="width: 300px">
            <thead>
            <tr>
                <th>Nom</th>
                <th></th>
            </tr>
            </thead>
            {% for result in usuari %}

                <tr>
                    <td>{{ result.nombre }} {{ result.apellidos }}</td>
                    <td><a href="{{ path("app_asignarCompetencia", {'id':result.id }) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Asignarli un nou instrument">
                            <img class="" src="{{ asset('bundles/AppBundle/banda/addPlay.png') }}" ></a></td>
                </tr>

            {% endfor %}
        </table>

        <div class="navigation">
            {{ knp_pagination_render(usuari) }}
        </div>
    </div>
{% endblock %}