{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>Modificar programa: <a href="{{ path('app_mostrarEvent', {'id':event.id}) }}">{{ event.nombre }}</a> ({{ event.tipo }})</h1>
        <p>A carrec de la <strong>{{ event.agrupacion.nombre }}</strong> el día {{ event.fechaHora|date('d-m-Y') }},
            hora: {{ event.fechaHora|date('H:i') }} a <strong>{{ event.lugar }}</strong></p>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Compositor</th>
                <th>Génere</th>
                <th>Arreglista</th>
                <th></th>
            </tr>
            </thead>
            {% for obra in event.obra %}
                <tr>
                    <td>{{ obra.nombre }}</td>
                    <td>{{ obra.compositor }}</td>
                    <td>{{ obra.genero }}</td>
                    <td>{{ obra.arreglista }}</td>
                    <td><a href="{{ path('app_eliminarObraEvent', {'idEvent':event.id, 'idObra':obra.id }) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Eliminar l'obra d'aquest event">
                            <img src="{{ asset('bundles/AppBundle/banda/remove.png') }}"></a></td>
                </tr>
            {% endfor %}

        </table>

        <form class="form-inline" action="{{ path("app_asignarObraAEvent", {'idEvent':event.id}) }}" method="get" id="login">
            <div class="form-group">
                <label for="nombre">Nom d'obra</label>
                <input type="text" class="form-control" name="nombre">
                <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Compositor</th>
                <th>Génere</th>
                <th>Arreglista</th>
            </tr>
            </thead>
            {% for obra in obres %}
                <tr>
                    <td><a href="{{ path('app_obraEvent', {'idEvent':event.id, 'idObra':obra.id }) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Afegir l'obra">
                            <img src="{{ asset('bundles/AppBundle/banda/addobra.png') }}"></a></td>
                    <td><a href="{{ path('app_mostrarObra', {'id':obra.id}) }}">{{ obra.nombre }}</a></td>
                    <td>{{ obra.compositor }}</td>
                    <td>{{ obra.genero }}</td>
                    <td>{{ obra.arreglista }}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(obres) }}
        </div>
    </div>
{% endblock %}