{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Assistencia a <a href="{{ path('app_mostrarEvent', {'id':event.id}) }}">{{ event.nombre }}</a> ({{ event.tipo }})</h1>
        <p>A carrec de la <strong>{{ event.agrupacion.nombre }}</strong> el día {{ event.fechaHora|date('d-m-Y') }},
            hora: {{ event.fechaHora|date('H:i') }} a <strong>{{ event.lugar }}</strong></p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Instrument</th>
                <th>Asistencia</th>
            </tr>
            </thead>
            <tbody>
            {% for result in asist %}
                {% if result.asiste == 'Sí' %}
                    <tr class="success">
                {% elseif result.asiste == 'No' %}
                    <tr class="danger">
                {% else %}
                    <tr class="warning">
                {% endif %}

                <td>{{ result.usuarioId.nombre }} {{ result.usuarioId.apellidos }}</td>
                <!--- Si el id usuari de la tabla asistencia coincideix en el id usuari, imprimix instrument --->
                {% for agrup in agrupacio %}
                    {% if result.usuarioId.id == agrup.IdUsuario.id %}
                        <td>{{ agrup.IdInstrumento.nombre }}</td>
                        {% endif %}
                    {% endfor %}
                <td>{{ result.asiste }}</td>
            {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}