{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <div class="alert alert-danger" style="margin: 2em;">
            <p style="font-weight: bold;"><img style="margin-right: 10px;" src="{{ asset('bundles/AppBundle/banda/error.png') }}">             {{ error }}</p>
        </div>
    </div>
{% endblock %}