{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/comprovaContrasenya.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>Modificar Contrasenya</h1>
        <form role="form" novalidate="true" method="post" onsubmit="return comprova()" action="#" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                {{ form_widget(form.password) }}
            </div>


            <div class="hidden">
            <div class="form-group">
                {{ form_label(form.nombre, "Nom") }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group">
                {{ form_label(form.apellidos, "Cognoms") }}
                {{ form_errors(form.apellidos) }}
                {{ form_widget(form.apellidos) }}
            </div >

            <div class="form-group">
                {{ form_label(form.telefono, "Telèfon") }}
                {{ form_errors(form.telefono) }}
                {{ form_widget(form.telefono) }}
            </div >

            <div class="form-group">
                {{ form_label(form.username, "Nom d'usuari") }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </div>

            </div>

            <button type="submit"  class="btn btn-default">Modificar</button>
        </form>
    </div>
{% endblock %}