{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/ca.js') }}"></script>

        <h1>Nou Esdeveniment</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <script type="text/javascript">
                $(function () {
                    $('#evento_fechaHora').datetimepicker({
                        locale: 'ca'
                    });
                });
            </script>

            <div class="form-group">
                {{ form_label(form.nombre, "Nom") }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group">
                {{ form_label(form.tipo, "Tipus de l'esdeveniment") }}
                {{ form_errors(form.tipo) }}
                {{ form_widget(form.tipo) }}
            </div>

            <div class="form-group">
                {{ form_label(form.fechaHora, "Data de l'esdeveniment") }}
                {{ form_errors(form.fechaHora) }}
                {{ form_widget(form.fechaHora) }}
            </div>

            <div class="form-group">
                {{ form_label(form.lugar, "Lloc") }}
                {{ form_errors(form.lugar) }}
                {{ form_widget(form.lugar) }}
            </div>

            <div class="form-group">
                {{ form_label(form.agrupacion, "Agrupació") }}
                {{ form_errors(form.agrupacion) }}
                {{ form_widget(form.agrupacion) }}
            </div>

            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>
{% endblock %}