{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
     <div class="col-sm-9 blog-main">
         <h1>Registre</h1>
         <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
             {{ form_errors(form) }}

             <div class="form-group">
                 {{ form_label(form.nombre, "Nom") }}
                 {{ form_errors(form.nombre) }}
                 {{ form_widget(form.nombre) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.apellidos, "Cognoms") }}
                 {{ form_errors(form.apellidos) }}
                 {{ form_widget(form.apellidos) }}
             </div >

             <div class="form-group">
                 {{ form_label(form.telefono, "Telèfon") }}
                 {{ form_errors(form.telefono) }}
                 {{ form_widget(form.telefono) }}
             </div >

             <div class="form-group">
                 {{ form_label(form.username, "Nom d'usuari") }}
                 {{ form_errors(form.username) }}
                 {{ form_widget(form.username) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.password, "Password") }}
                 {{ form_errors(form.password) }}
                 {{ form_widget(form.password) }}
             </div>

             <div class="form-group">
                 {{ form_label(form.imagenPerfil) }}
                 {{ form_errors(form.imagenPerfil) }}
                 {{ form_widget(form.imagenPerfil) }}
             </div>
             <button type="submit" class="btn btn-default">Registrar</button>
         </form>
     </div>
{% endblock %}