{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Afegir nova Obra a l'Arxiu</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.nombre, "Nom") }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group">
                {{ form_label(form.compositor) }}
                {{ form_errors(form.compositor) }}
                {{ form_widget(form.compositor) }}
            </div >

            <div class="form-group">
                {{ form_label(form.genero, "Gènere") }}
                {{ form_errors(form.genero) }}
                {{ form_widget(form.genero) }}
            </div>

            <div class="form-group">
                {{ form_label(form.arreglista, "Arranjador") }}
                {{ form_errors(form.arreglista) }}
                {{ form_widget(form.arreglista) }}
            </div>

            {% if director or is_granted('ROLE_ADMIN') %}
                <div class="form-group">
                    {{ form_label(form.descripcion, "Descripció") }}
                    {{ form_errors(form.descripcion) }}
                    {{ form_widget(form.descripcion) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.video, "Url del video") }}
                    {{ form_errors(form.video) }}
                    {{ form_widget(form.video) }}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>
{% endblock %}