{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/tinymce_4.5.0/tinymce.min.js') }}"></script>
    <div class="col-sm-9 blog-main">
        <h1>Afegir nova noticia</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.titulo, "Títol") }}
                {{ form_errors(form.titulo) }}
                {{ form_widget(form.titulo) }}
            </div>

            <div class="form-group">
                {{ form_label(form.texto, "Text") }}
                {{ form_errors(form.texto) }}
                {{ form_widget(form.texto) }}
            </div>

            <div class="form-group">
                {{ form_label(form.fuente, "Font de la noticia") }}
                {{ form_errors(form.fuente) }}
                {{ form_widget(form.fuente) }}
            </div >

            <div class="form-group">
                {{ form_label(form.url, "Pàgina d'enllaç") }}
                {{ form_errors(form.url) }}
                {{ form_widget(form.url) }}
            </div>

            <div class="form-group">
                {{ form_label(form.imagenNoticia) }}
                {{ form_errors(form.imagenNoticia) }}
                {{ form_widget(form.imagenNoticia) }}
            </div>

            <button type="submit" class="btn btn-default">Publicar</button>
        </form>
    </div>

    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/tinymceAdapted.js') }}"></script>

{% endblock %}