{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Assignar Competència</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.id_usuario, "Usuari") }}
                {{ form_errors(form.id_usuario) }}
                {{ form_widget(form.id_usuario) }}
            </div>

            <div class="form-group">
                {{ form_label(form.id_instrumento, "Instrument") }}
                {{ form_errors(form.id_instrumento) }}
                {{ form_widget(form.id_instrumento) }}
            </div >

            <div class="form-group">
                {{ form_label(form.id_agrupacion, "Agrupació") }}
                {{ form_errors(form.id_agrupacion) }}
                {{ form_widget(form.id_agrupacion) }}
            </div>

            <div class="form-group">
                {{ form_label(form.capDeCorda) }}
                {{ form_errors(form.capDeCorda) }}
                {{ form_widget(form.capDeCorda) }}
            </div>

            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>

    {% if is_granted('ROLE_PRESIDENT') %}
    {% else %}
        <script type="text/javascript">
            $(document).ready(function () {
                $('#toca_id_instrumento').html('');
                $('#toca_id_agrupacion').click(function(){
                    var usuarioId = document.getElementById('toca_id_usuario').value;
                    var agrupacionId = document.getElementById('toca_id_agrupacion').value;
                    $.ajax({
                        type: "POST",
                        url: "{{ path('app_ajaxCompetencies')}}?usuari_id=" + usuarioId + "&agrupacio_id="+agrupacionId,
                        success: function(data) {
                            // Elimina les opcions del <option>
                            $('#toca_id_instrumento').html('');
                            //recorre l'array resultant del controller i va afegintlos al <option>
                            $.each(data, function(k, v) {
                                $('#toca_id_instrumento').append('<option value="' + k + '">' + v + '</option>');
                            });
                        }
                    });
                    return false;
                });
            });
        </script>
    {% endif %}
{% endblock %}