{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Modificar usuari</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.nombre) }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group">
                {{ form_label(form.apellidos) }}
                {{ form_errors(form.apellidos) }}
                {{ form_widget(form.apellidos) }}
            </div >

            <div class="form-group">
                {{ form_label(form.telefono) }}
                {{ form_errors(form.telefono) }}
                {{ form_widget(form.telefono) }}
            </div >

            <div class="form-group">
                {{ form_label(form.isBaixa) }}
                {{ form_errors(form.isBaixa) }}
                {{ form_widget(form.isBaixa) }}
            </div >

            <div class="form-group">
                {{ form_label(form.imagenPerfil) }}
                {{ form_errors(form.imagenPerfil) }}
                {{ form_widget(form.imagenPerfil) }}
            </div>



            <div class="hidden">

            <div class="form-group">
                {{ form_label(form.username, "Nom d'usuari") }}
                {{ form_errors(form.username) }}
                {{ form_widget(form.username) }}
            </div>


            </div>
            <button type="submit" class="btn btn-default">Modificar</button>
        </form>
    </div>
{% endblock %}