{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Permisos</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}
            <table class="table table-responsive">
                <tr><td>
                        <div class="form-group">
                            {{ form_label(form.music, 'Músic') }}
                            {{ form_errors(form.music) }}
                            {{ form_widget(form.music) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.directiu) }}
                            {{ form_errors(form.directiu) }}
                            {{ form_widget(form.directiu) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.president) }}
                            {{ form_errors(form.president) }}
                            {{ form_widget(form.president) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.magatzem) }}
                            {{ form_errors(form.magatzem) }}
                            {{ form_widget(form.magatzem) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.secretari) }}
                            {{ form_errors(form.secretari) }}
                            {{ form_widget(form.secretari) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.arxiver) }}
                            {{ form_errors(form.arxiver) }}
                            {{ form_widget(form.arxiver) }}
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.tresorer) }}
                            {{ form_errors(form.tresorer) }}
                            {{ form_widget(form.tresorer) }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="form-group">
                            {{ form_label(form.moderador) }}
                            {{ form_errors(form.moderador) }}
                            {{ form_widget(form.moderador) }}
                        </div>
                    </td>
                    <td> <div class="form-group">
                            {{ form_label(form.administrador) }}
                            {{ form_errors(form.administrador) }}
                            {{ form_widget(form.administrador) }}
                        </div>
                    </td>
                </tr>
            </table>




            <div class="hidden">
                <div class="form-group">
                    {{ form_label(form.nombre, "Nom") }}
                    {{ form_errors(form.nombre) }}
                    {{ form_widget(form.nombre) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.apellidos, "Cognoms") }}
                    {{ form_errors(form.apellidos) }}
                    {{ form_widget(form.apellidos) }}
                </div >

                <div class="form-group">
                    {{ form_label(form.telefono, "Telèfon") }}
                    {{ form_errors(form.telefono) }}
                    {{ form_widget(form.telefono) }}
                </div >

                <div class="form-group">
                    {{ form_label(form.username, "Nom d'usuari") }}
                    {{ form_errors(form.username) }}
                    {{ form_widget(form.username) }}
                </div>

            </div>
            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>
{% endblock %}