{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Afegir partitura a {{ obra.nombre }}</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.instrumento) }}
                {{ form_errors(form.instrumento) }}
                {{ form_widget(form.instrumento) }}
            </div>

            <div class="form-group">
                {{ form_label(form.veu) }}
                {{ form_errors(form.veu) }}
                {{ form_widget(form.veu) }}
            </div >


            <div class="form-group">
                {{ form_label(form.pdf) }}
                {{ form_errors(form.pdf) }}
                {{ form_widget(form.pdf) }}
            </div >


            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#partitura_instrumento').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_ajaxPartituraVeu')}}?instrument_id=" + val,
                    success: function(data) {
                        // Elimina les opcions del <option>
                        $('#partitura_veu').html('');
                        //recorre l'array resultant del controller i va afegintlos al <option>
                        $.each(data, function(k, v) {
                            $('#partitura_veu').append('<option value="' + v.toString() + '">' + k.toString() + '</option>');
                        });
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}