{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Afegir comentari</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.texto, "Comentari") }}
                {{ form_errors(form.texto) }}
                {{ form_widget(form.texto) }}
            </div>

            <button type="submit" class="btn btn-default">Publicar</button>
        </form>
    </div>
{% endblock %}