{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Afegir una Agrupació</h1>
        <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
            {{ form_errors(form) }}

            <div class="form-group">
                {{ form_label(form.nombre, "Nom") }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <button type="submit" class="btn btn-default">Guardar</button>
        </form>
    </div>
{% endblock %}