{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
<div class="col-sm-9 blog-main">
    <h1>A qui vols prestar l'instrument?</h1>
    <h3>Resum</h3>
    <p>Nom de l'instrument: {{ instrument.nombre }}</p>
    <p>Numero de sèrie: {{ instrument.numSerie }}</p>
    <p>Estat: {{ instrument.estado }}</p>
    <p>Observacions: {{ instrument.observaciones}}</p>

    <form role="form" novalidate="true" action="#" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        <div class="form-group" style="width: 30%">
            {{ form_label(form.usuarios, "Usuaris") }}
            {{ form_errors(form.usuarios) }}
            {{ form_widget(form.usuarios) }}
        </div>

        <div class="hidden">
            <div class="form-group">
                {{ form_label(form.nombre, "Nom") }}
                {{ form_errors(form.nombre) }}
                {{ form_widget(form.nombre) }}
            </div>

            <div class="form-group">
                {{ form_label(form.numSerie, "Número de sèrie") }}
                {{ form_errors(form.numSerie) }}
                {{ form_widget(form.numSerie) }}
            </div >

            <div class="form-group">
                {{ form_label(form.estado, "Estat") }}
                {{ form_errors(form.estado) }}
                {{ form_widget(form.estado) }}
            </div>

            <div class="form-group">
                {{ form_label(form.observaciones, "Observacions") }}
                {{ form_errors(form.observaciones) }}
                {{ form_widget(form.observaciones) }}
            </div>
        </div>

        <button type="submit" class="btn btn-default">Registrar</button>
    </form>

</div>
{% endblock %}