{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Llistat de usuaris</h1>

        <div id="dialog-confirm" title="Eliminar Competencia" hidden>
            <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Vas a llevar el músic d'aquesta agrupació ¿Estàs segur?</p>
        </div>

        <form class="form-inline" action="{{ path("app_gestioUsuaris") }}" method="get">

            <div class="form-group">
                <input type="text" class="form-control" name="music" placeholder="Busca per nom o cognom">
                <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Usuari</th>
                <th></th>
            </tr>
            </thead>
            {% for result in usuaris %}
                <tr>
                    <td>{{ result.nombre }} {{ result.apellidos }}</td>
                    <td>{{ result.username }}</td>
                    <td><a href="{{ path('app_permisos', { 'id': result.id})}}"><img class="" src="{{ asset('bundles/AppBundle/banda/key.png') }}" ></a>
                        </td>
                </tr>
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(usuaris) }}
        </div>
    </div>
{% endblock %}