{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
      <!--
      <div class="blog-header">
        <h1 class="blog-title">Lira Orxetana</h1>
        <p class="lead blog-description">Orxeta</p>
      </div>
      !-->
        <div class="col-sm-9 blog-main">
          <div class="blog-post">
            <h2 class="blog-post-title">Benvingut!</h2>

            <p>Aquesta és la nova imatge que tenim en internet, un lloc on podrán interaccionar músics, socis, membres directius
            i qualsevol que vulga conèixer una entitat, principalment de caràcter musical.</p>
            <hr>
            <p>Aquest projecte naix per la necesitat d'organitzar els assumptes interns de les nostres societats, presentat com a
            projecte de fi de cicle dels alumnes <a href="#">Ángel Luis Aparicio</a> i <a href="#">Aitor Lloret</a> de l'institut I.E.S Pere Maria Orts i Bosch de
            Benidorm amb l'intenció de facilitar la comunicació, interacció i difussió de tot el que envolta el món de les
            agrupaciós musicals. Ambduos son músics de la Unión Musical de Benidorm i la Lira Orxetana, respectivament.</p>
            <blockquote>
              <p>"Adaptar-se a les noves tecnologies és un repte per a qualsevol agrupació menuda com les nostres, quan ens vam
              plantejar per primera vegada aquest repte, no van poder pensar en altres opcions." <a href="#">Ángel Luis Aparicio</a></p>
            </blockquote>
          </div>


          <!-- SALUTACIONS -->

          <div class="row">
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>President</h2>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Director</h2>
              <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
              <h2>Vocal</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>
          </div>
        </div>

{% endblock %}