{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/css/comentaris.css') }}" type="text/css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>Llistat de noticies</h1>

        <div id="dialog-confirm" title="Eliminar Noticia" hidden>
            <p><span class="ui-icon ui-icon-alert"></span>Vas a eliminar aquesta noticia ¿Estàs segur?</p>
        </div>

        {% for result in noticies %}
            <div class="comments-container">
                <ul id="comments-list" class="comments-list">
                    <li>
                        <div class="comment-main-level">
                            <!-- Contenedor del Comentari -->
                            <div class="comment-box" id="comment-noticia">
                                <div class="comment-head">
                                    <h6 class="comment-name by-author new"><a href="{{ path('app_mostrarNoticia', {'id':result.id}) }}">{{ result.titulo }}</a></h6>
                                    <span>Publicat: {{ result.fecha|date('d-m-Y') }}</span>
                                    <div class="botons-comentaris">
                                        {% if app.user == result.usuarios or is_granted('ROLE_MODERADOR') %}
                                        <a class="toltip" data-toggle="tooltip" data-placement="top" title="Editar Noticia"
                                                href="{{ path('app_afegirNoticia',{'id':result.id}) }}"><img src="{{ asset('bundles/AppBundle/banda/editar-comentari.png')}}"></a>
                                        {% endif %}
                                        {% if app.user == result.usuarios or is_granted('ROLE_MODERADOR') %}
                                            <a href="#" class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Esborrar Noticia">
                                                <img src="{{ asset('bundles/AppBundle/banda/eliminar-comentari.png')}}" onclick="confirmar('eliminarNoticia',{{ result.id }})"></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="comment-content">
                                    <img id="imgNoticia" src="{{ asset('bundles/AppBundle/banda/noticies/')}}{{ result.imagenNoticia}}" alt="">

                                    <div class="resum-Noticia">{{  (result.texto|striptags('') | slice(0,120))|raw }}... <a href="{{ path('app_mostrarNoticia',{'id':result.id}) }}">[llegir tot]</a></div>
                                    {# result.texto| striptags | slice(0,120) #}
                                    <hr>
                                    <div class="mesInfo">
                                    {% if result.fuente is not null and result.url is not null%}
                                        <a href="http://{{ result.url }}">{{ result.fuente }}</a></br></br>
                                    {% elseif result.fuente is null and result.url is not null%}
                                        <a href="http://{{ result.url }}">{{ result.url }}</a></br></br>
                                    {% elseif result.fuente is not null and result.url is null%}
                                        Font de la noticia: {{ result.fuente }}</br></br>
                                    {% endif %}
                                    <a href="{{ path('app_perfil', {'id':result.usuarios.id}) }}"><img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ result.usuarios.imagenPerfil}}"  alt="Generic placeholder image" width="25" height="25" style="margin-top:5px;">
                                        {{ result.usuarios.nombre }} {{ result.usuarios.apellidos }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        {% endfor %}

        <div class="navigation">
            {{ knp_pagination_render(noticies) }}
        </div>
    </div>

{% endblock %}