{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Próxims events</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Acte</th>
                <th>Nom</th>
                <th>Lloc</th>
                <th>Día</th>
                <th>Hora</th>
                <th>Aniré</th>
                <th>No aniré</th>
                <th>Agrupació</th>
            </tr>
            </thead>
            {% for result in actes %}
                <!-- Antes de mostrar el concert comproba si el usuari pertany a la agrupació del concert. -->
                {% for userAgr in toca %}
                    {% if userAgr.idAgrupacion.nombre == result.agrupacion.nombre %}
                        <tr>
                            <td></td>
                            <td>{{ result.tipo }}</td>
                            <td><a href="{{ path('app_mostrarEvent',{'id':result.id}) }}">{{ result.nombre }}</a></td>
                            <td>{{ result.lugar }}</td>
                            <td>{{ result.fechaHora|date('d-m-Y') }}</td>
                            <td>{{ result.fechaHora|date('H:i') }}</td>

                            <td><a class="si" href="{{ path('app_asistenciaSi',{'idEvent':result.id, 'idUsuari': app.user.id}) }}"><img class="img-responsive center-block" src="{{ asset('bundles/AppBundle/banda/like.png') }}" ></a></td>
                            <td><a class="no" href="{{ path('app_asistenciaNo',{'idEvent':result.id, 'idUsuari': app.user.id}) }}"><img class="img-responsive center-block" src="{{ asset('bundles/AppBundle/banda/dislike.png') }}" ></a></td>
                            <td>{{ result.agrupacion.nombre }}</td>
                        </tr>
                    {% endif %}

                {% endfor %}
            {% endfor %}
        </table>
        <div class="navigation">
            {{ knp_pagination_render(actes) }}
        </div>
    </div>
{% endblock %}