{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Llistat per cordes</h1>

        <form class="form-inline" action="{{ path("app_llistarCordes") }}" method="get">
            <div class="form-group">
                <label for="agrupacio">Agrupació</label>
                <select class="form-control" name="agrupacio" id="select_agrup">
                    <option value=""></option>
                    {% for agrup in agrupacions %}
                        <option class="form-control" value="{{ agrup.id }}">{{ agrup.nombre }}</option>
                    {% endfor %}
                </select>

                <label for="instrument">Instrument</label>
                <select class="form-control" name="instrument" id="select_instrum">
                    <option value=""></option>
                </select>
                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

        {% if toca is not null and error is null %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Instrument</th>
                    <th>Agrupació</th>
                    <th></th>
                </tr>
                </thead>
                {% for result in toca %}
                    {% if  result.capDeCorda == 'Sí'%}
                        <tr class="success">
                    {% else %}
                        <tr>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_perfil', {'id':result.idUsuario.id}) }}">
                            <img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ result.idUsuario.imagenPerfil}}"  alt="Generic placeholder image" width="25" height="25" style="margin-top:0px;"></a>
                    </td>
                    <td>{{ result.idUsuario.nombre }} {{ result.idUsuario.apellidos }}</td>
                    <td>{{ result.idInstrumento.nombre }}</td>
                    <td>{{ result.idAgrupacion.nombre }}</td>
                    <td>{% if result.capDeCorda == 'Sí' %} Cap de corda {% endif %}</td>
                    </tr>
                {% endfor %}

            </table>

            <div class="navigation">
                {{ knp_pagination_render(toca) }}
            </div>
        {% elseif error is not null %}
            <div class="alert alert-danger" style="margin: 2em;">
                <p style="font-weight: bold;">             {{ error }}</p>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#select_agrup').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('app_ajaxLlistarCordes')}}?agrupacio_id=" + val,
                    success: function(data) {
                        // Elimina les opcions del <option>
                        $('#select_instrum').html('');
                        //recorre l'array resultant del controller i va afegintlos al <option>
                        $.each(data, function(k, v) {
                            $('#select_instrum').append('<option value="' + v.toString() + '">' + k.toString() + '</option>');
                        });
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}