{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.structure.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>

    <div id="dialog-confirm" title="Eliminar Obra" hidden>
        <p><span class="ui-icon ui-icon-alert"></span>Va a eliminar-se l'obra del archiu. ¿Estás segur?</p>
    </div>

    <div class="col-sm-9 blog-main">
        <h1>Obres en l'Arxiu</h1>

        <a href="{{ path('app_afegirObra')}}" class="btn btn-default" role="button" style="margin-bottom: 1em;">Afegir Obra</a>

        <div class="table-responsive">
            <form class="form-inline" action="{{ path("app_llistarObres") }}" method="get" id="login">
                <div class="form-group">
                    <label for="genere">Gènere</label>
                    <select class="form-control" name="genere">
                        <option value=""></option>
                        {% for result in genere %}
                            <option class="form-control" value="{{ result }}">{{ result }}</option>
                        {% endfor %}
                    </select>
                    <label for="nombre">Nom d'obra</label>
                    <input type="text" class="form-control" name="nombre">
                    <label for="compositor">Compositor</label>
                    <input type="text" class="form-control" name="compositor">
                    <input type="submit" class="" value="Filtrar" />
                </div>
            </form>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ knp_pagination_sortable(paginacio, 'Nom', 'obra.nombre') }}</th>
                    <th></th>
                    <th>{{ knp_pagination_sortable(paginacio, 'Compositor', 'obra.compositor') }}</th>
                    <th>{{ knp_pagination_sortable(paginacio, 'Génere', 'obra.genero') }}</th>
                    <th>{{ knp_pagination_sortable(paginacio, 'Arranjador', 'obra.arreglista') }}</th>
                    <th></th>
                </tr>
                </thead>
                {% for result in paginacio %}
                    <tr>
                        <td><a class="toltip" data-toggle="tooltip" data-placement="top" title="Editar" href="{{ path('app_afegirObra',{'id':result.id}) }}">
                                <img class="" src="{{ asset('bundles/AppBundle/banda/editar.png') }}"></a>
                        </td>
                        <td>{{ result.nombre }}</td>
                        <td><a class="toltip" data-toggle="tooltip" data-placement="top" title="Vore partitures" href="{{ path('app_mostrarObra',{'id':result.id}) }}">
                                <img class="" src="{{ asset('bundles/AppBundle/banda/atril.png') }}"></a></td>
                        <td>{{ result.compositor }}</td>
                        <td>{{ result.genero }}</td>
                        <td>{{ result.arreglista }}</td>
                        <td><a class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Eliminar Obra" href="#">
                                <img class="" src="{{ asset('bundles/AppBundle/banda/elimobra.png') }}" onclick="confirmar('eliminarObra',{{ result.id }})"></a></td>
                    </tr>
                {% endfor %}

            </table>
            <div class="navigation">
                {{ knp_pagination_render(paginacio) }}
            </div>
        </div>
    </div>
{% endblock %}