{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Llistat d'inactius</h1>

        <form class="form-inline" action="{{ path("app_llistarInactius") }}" method="get">
            <div class="form-group">
                <label for="rol">Rol</label>
                <select class="form-control" name="rol">
                    <option value="musics">Músics</option>
                    <option value="directius">Directius</option>
                </select>

                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

        {% if users is not empty %}
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th>Nom</th>
                    <th>Telèfon</th>
                </tr>
                </thead>
                {% for result in users %}
                    <tr class="danger">
                        <td>
                            <a href="{{ path('app_perfil', {'id':result.id}) }}">
                                <img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ result.imagenPerfil}}"  alt="Generic placeholder image" width="25" height="25" style="margin-top:0px;"></a>
                        </td>
                        <td>{{ result.nombre }} {{ result.apellidos }}</td>
                        <td>{{ result.telefono }}</td>
                    </tr>
                {% endfor %}

            </table>

            <div class="navigation">
                {{ knp_pagination_render(users) }}
            </div>
        {% endif %}
    </div>

{% endblock %}