{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

    <div class="col-sm-9 blog-main">
        <h1>Llistat per càrrecs</h1>

        <form class="form-inline" action="{{ path("app_llistarDirectius") }}" method="get">
            <div class="form-group">
                <label for="carrec">Càrrec</label>
                <select class="form-control" name="carrec">
                    <option class="form-control" value="Directiu">Directiu</option>
                    <option disabled>---------------------------</option>
                    <option class="form-control" value="Moderador">Moderador</option>
                    <option class="form-control" value="Arxiver">Arxiver</option>
                    <option class="form-control" value="Magatzem">Encarregat del magatzem</option>
                    <option disabled>---------------------------</option>
                    <option class="form-control" value="Secretari">Secretari</option>
                    <option class="form-control" value="Tresorer">Tresorer</option>
                    <option disabled>---------------------------</option>
                    <option class="form-control" value="Administrador">Administrador</option>
                </select>

                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

        {% if directius is not null and error is null %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Telèfon</th>
            </tr>
            </thead>
            {% for result in directius %}
                <tr>
                    <td>
                    <a href="{{ path('app_perfil', {'id':result.id}) }}">
                        <img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ result.imagenPerfil}}"  alt="Generic placeholder image" width="25" height="25" style="margin-top:0px;"></a>
                    </td>
                <td>{{ result.nombre }} {{ result.apellidos }}</td>
                <td>{{ result.telefono }}</td>
                </tr>
            {% endfor %}

        </table>

        <div class="navigation">
            {{ knp_pagination_render(directius) }}
        </div>
        {% elseif error is not null %}
            <div class="alert alert-danger" style="margin: 2em;">
                <p style="font-weight: bold;">             {{ error }}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}