{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.structure.css') }}" type="text/css" rel="stylesheet"/>
    <div class="col-sm-9 blog-main">
         <h1>Próxims actes</h1>

        <form class="form-inline" action="{{ path("app_llistarActes") }}" method="get">

            <div class="form-group">
                <label for="genere">Acte</label>
                <select class="form-control" name="acte">
                    <option value=""></option>
                    {% for result in tipusDacte %}
                        <option class="form-control" value="{{ result }}">{{ result }}</option>
                    {% endfor %}
                </select>
                <label for="genere">Agrupació</label>
                <select class="form-control" name="agrupacio">
                    <option value=""></option>
                    {% for result in agrupacions %}
                        <option class="form-control" value="{{ result.id }}">{{ result.nombre }}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="" value="Filtrar" />
            </div>
        </form>

         <table class="table table-hover">
             <thead>
             <tr>
                 <th></th>
                 <th>Actes</th>
                 <th>Nom</th>
                 <th>Lloc</th>
                 <th>Día</th>
                 <th>Hora</th>
                 <th>Agrupació</th>
             </tr>
             </thead>
             {% for result in actes %}
                 <tr>
                     <td></td>
                     <td>{{ result.tipo }}</td>
                     <td><a href="{{ path('app_mostrarEvent',{'id':result.id}) }}">{{ result.nombre }}</a></td>
                     <td>{{ result.lugar }}</td>
                     <td>{{ result.fechaHora|date('d-m-Y') }}</td>
                     <td>{{ result.fechaHora|date('H:i') }}</td>
                     <td>{{ result.agrupacion.nombre }}</td>
                 </tr>
             {% endfor %}

         </table>
         <div class="navigation">
             {{ knp_pagination_render(actes) }}
         </div>
     </div>
{% endblock %}