{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.theme.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.structure.css') }}" type="text/css" rel="stylesheet"/>


    <div id="dialog-confirm" title="Eliminar Instrument" hidden>
        <p><span class="ui-icon ui-icon-alert"></span>Va a eliminar-se l'instrument del magatzem. Estas segur?</p>
    </div>

    <div class="col-sm-9 blog-main">
        <h1>Magatzem d'Instruments</h1>

        <form class="form-inline" action="{{ path("app_llistarPrestecs") }}" method="get" style="text-align: right;" >
            <div class="form-group">
                <label for="instrum">Instrument</label>
                <input type="text" class="form-control" name="instrum">
                <label for="serie">Nº de sèrie</label>
                <input type="text" class="form-control" name="serie" placeholder="Introduir nºSèrie Exacte">
                <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>

        <div class="table-responsive">
            {% if is_granted('ROLE_MAGATZEM') %}
            <a href="{{ path('app_afegirInstrument')}}" class="btn btn-default" role="button">Afegir instrument al magatzem</a>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Instrument</th>
                        <th>Nº de sèrie</th>
                        <th>Estat</th>
                        <th>Prestar</th>
                        <th></th>
                    </tr>
                </thead>
                {% for result in prestec %}

                    <tr>
                        <td><a href="{{ path('app_afegirInstrument',{'id':result.id}) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Editar">
                            <img class="" src="{{ asset('bundles/AppBundle/banda/editar.png') }}"></a></td>
                        <td><a href="{{ path('app_mostrarInstrumentMagatzem',{'id':result.id}) }}">{{ result.nombre }}</a></td>
                        <td>{{ result.numserie }}</td>
                        <td>{{ result.estado }}</td>
                        {% if result.usuarios %}
                            <td>{{ result.usuarios.nombre }} {{ result.usuarios.apellidos }} <a href="{{ path('app_eliminarPrestec',{'id':result.id}) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Eliminar Prestec">
                                    <img style="margin-left: 5%" src="{{ asset('bundles/AppBundle/banda/tornar.png') }}"></a></td>
                        {% else %}
                            <td><a href="{{ path('app_usuariPrestec',{'id':result.id}) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Prestar a Usuari">
                                    <img style="margin-left: 20%" src="{{ asset('bundles/AppBundle/banda/afegirusuari.png') }}"></a></td>
                        {% endif %}

                        <td><a class="esborra" href="#" class="toltip" data-toggle="tooltip" data-placement="top" title="Eliminar instrument del magatzem">
                                <img class="img-responsive center-block" src="{{ asset('bundles/AppBundle/banda/delete.png') }}" onclick="confirmar('eliminarInstrument',{{result.id}})"></a></td>

                    </tr>

                {% endfor %}

            </table>
            <div class="navigation">
                {{ knp_pagination_render(prestec) }}
            </div>
        </div>
    </div>
{% endblock %}