{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Llistat de actes passats</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Acte</th>
                <th>Nom</th>
                <th>Lloc</th>
                <th>Día</th>
                <th>Hora</th>
                <th>Agrupació</th>
            </tr>
            </thead>
            {% for result in actes %}
                <tr>
                    <td></td>
                    <td>{{ result.tipo }}</td>
                    <td>{{ result.nombre }}</td>
                    <td>{{ result.lugar }}</td>
                    <td >{{ result.fechaHora|date('d-m-Y') }}</td>
                    <td >{{ result.fechaHora|date('H:i') }}</td>
                    <td>{{ result.agrupacion.nombre }}</td>
                </tr>
            {% endfor %}

        </table>
        <div class="navigation">
            {{ knp_pagination_render(actes) }}
        </div>
    </div>

{% endblock %}