{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
        <div class="col-sm-9 blog-main">

            {% if app.user %}

                <div class="alert alert-danger" style="margin: 2em;">
                    <p style="font-weight: bold;"><img style="margin-right: 10px;" src="{{ asset('bundles/AppBundle/banda/error.png') }}"> Ya estas logueado</p>
                </div>

            {% else %}

                <div class="form-signin" style="width: 50%; margin: 0 auto;">
                    <h2>Inicia la sessió</h2>
                    
                    <form class="form-signin" action="{{ path("app_login_check") }}" method="post" id="login">
                        <input type="text" style="margin-bottom: 1em;" class="form-control" name="_username" placeholder="Usuari" value="{{ last_username }}" />
                        <input type="password" style="margin-bottom: 1em;" class="form-control" placeholder="Contrasenya" name="_password" />
                        <input style="width: 100%; font-size: 20px;" type="submit" class="btn btn-primary center-block" value="Login" />
                    </form>
                </div>
        {% endif %}
        </div>
{% endblock %}