{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <div class="col-sm-9 blog-main">
        <h1>Detalls de {{ instrument.nombre }} {{ instrument.numSerie }}</h1>

        <p>Usuari a càrrec: {% if instrument.usuarios.nombre is defined  %}{{ instrument.usuarios.nombre }}
            {% else %} Sense prestar. {% endif %}</p>
        <p style="margin-bottom: 2.5em;">Estat: {{ instrument.estado }}</p>
        <p style="text-decoration: underline;">Observacions:</p>
        <p>{{ instrument.observaciones }}</p>

        <a href="{{ path('app_llistarPrestecs')}}" class="btn btn-default" role="button">Magatzem</a>
    </div>
{% endblock %}