{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-1.12.3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1>{{ obra.nombre }}</h1>
        <h4>Compositor: {{ obra.compositor }} </br> Arranjador: {{ obra.arreglista }}</h4>
        {% if director or is_granted('ROLE_ARXIVER') %}
            <a href="{{ path('app_afegirPartitura',{'id':obra.id}) }}" class="btn btn-default" role="button" style="margin-bottom: 1em;">Afegir partitura</a>
        {% endif %}

        <!-- AMPLIACIÓ.... DESCRIPCIO I VIDEO-->
        {% if obra.descripcion is not null %}
            <p>Informació adicional: {{ obra.descripcion }}</p>
            {% else %}
            </br>
        {% endif %}

        {% if obra.video is not null %}
            <iframe width="300" height="200" src="https://www.youtube.com/embed/{{ obra.video }}" allowfullscreen></iframe>

        {% endif %}

        <!-- tabla en partitures -->
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Instrument</th>
                <th>Veu</th>
                <th></th>
            </tr>
            </thead>
            {% for partitura in partitures %}
                <tr>
                    <td></td>
                    <td>{{ obra.nombre }}</td>
                    <td>{{ partitura.instrumento }}</td>
                    <td>{{ partitura.voz }}</td>
                    <td><a href="{{ asset('bundles/AppBundle/Obres/'~obra.nombre~'/'~obra.nombre~' - '~partitura.instrumento~' '~partitura.voz~'.pdf')}}" class="toltip" data-toggle="tooltip" data-placement="top" title="Descarregar">
                            <img class="" src="{{ asset('bundles/AppBundle/banda/download.png') }}" ></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}