{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/css/comentaris.css') }}" type="text/css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>


    <div class="col-sm-9 blog-main">

        <div id="dialog-confirm" title="Eliminar Noticia" hidden>
            <p><span class="ui-icon ui-icon-alert"></span>Vas a eliminar aquesta noticia ¿Estàs segur?</p>
        </div>

        <div class="comments-container">
            <ul id="comments-list" class="comments-list">
                <li>
                    <div class="comment-main-level">
                        <!-- Contenedor del Comentari -->
                        <div class="comment-box" id="comment-noticia">
                            <div class="comment-head">
                                <h6 class="comment-name by-author new"><a>{{ noticia.titulo }}</a></h6>
                                <span>Publicat: {{ noticia.fecha|date('d-m-Y') }}</span>
                                <div class="botons-comentaris">
                                    {% if app.user == noticia.usuarios or is_granted('ROLE_MODERADOR') %}
                                        <a class="toltip" data-toggle="tooltip" data-placement="top" title="Editar Noticia"
                                           href="{{ path('app_afegirNoticia',{'id':noticia.id}) }}"><img src="{{ asset('bundles/AppBundle/banda/editar-comentari.png')}}"></a>
                                    {% endif %}
                                    {% if app.user == noticia.usuarios or is_granted('ROLE_MODERADOR') %}
                                        <a href="#" class="toltip, esborra" data-toggle="tooltip" data-placement="top" title="Esborrar Noticia">
                                            <img src="{{ asset('bundles/AppBundle/banda/eliminar-comentari.png')}}" onclick="confirmar('../eliminarNoticia',{{ noticia.id }})"></a>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="comment-content">
                                {% if noticia.imagenNoticia !='defaultNoticia.jpg' %}
                                    <img class="imgMostrarNoticia" src="{{ asset('bundles/AppBundle/banda/noticies/')}}{{ noticia.imagenNoticia}}" alt="">
                                    <hr>
                                {% endif %}
                                {{ noticia.texto|raw }}

                                <hr>
                                <div class="mesInfo">
                                    {% if noticia.fuente is not null and noticia.url is not null%}
                                        <a href="http://{{ noticia.url }}">{{ noticia.fuente }}</a></br></br>
                                    {% elseif noticia.fuente is null and noticia.url is not null%}
                                        <a href="http://{{ noticia.url }}">{{ noticia.url }}</a></br></br>
                                    {% elseif noticia.fuente is not null and noticia.url is null%}
                                        Font de la noticia: {{ noticia.fuente }}</br></br>
                                    {% endif %}
                                    <a href="{{ path('app_perfil', {'id':noticia.usuarios.id}) }}"><img class="img-circle" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ noticia.usuarios.imagenPerfil}}"  alt="Generic placeholder image" width="25" height="25" style="margin-top:5px;">
                                        {{ noticia.usuarios.nombre }} {{ noticia.usuarios.apellidos }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
{% endblock %}