{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/css/comentaris.css') }}" type="text/css" rel="stylesheet" xmlns="http://www.w3.org/1999/html"/>
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>
    <div class="col-sm-9 blog-main">
        <h1>Comentaris a <a href="{{ path('app_mostrarEvent', {'id':event.id}) }}">{{ event.nombre }}</a> ({{ event.tipo }})</h1>
        <p>A carrec de la <strong>{{ event.agrupacion.nombre }}</strong> el día {{ event.fechaHora|date('d-m-Y') }},
            hora: {{ event.fechaHora|date('H:i') }} a <strong>{{ event.lugar }}</strong></p>

        <div id="dialog-confirm" title="Eliminar Comentari" hidden>
            <p><span class="ui-icon ui-icon-alert"></span>Vas a eliminar aquesta comentari ¿Estàs segur?</p>
        </div>

        <form class="form-inline" action="{{ path("app_mostrarComentarisEvent", {'idEvent':event.id}) }}" method="get" style="text-align: right;">
            <div class="form-group">
                <input type="text" class="form-control" name="text" placeholder="Busca comentaris">
                <button type="submit" class="btn btn-default" value="Buscar"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>

        {% if comentaris is empty%}
            <div class="alert alert-danger" style="margin-top: 1em;">
                <strong>{{ comentBuit }}</strong>
            </div>
        {% else %}
            {% for result in comentaris %}
                <div class="comments-container">
                    <ul id="comments-list" class="comments-list">
                        <li>
                            <div class="comment-main-level">
                                <!-- Avatar -->
                                <div class="comment-avatar"><a href="{{ path('app_perfil', {'id':result.usuarios.id}) }}"><img src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ result.usuarios.imagenPerfil}}" alt=""></a></div>
                                <!-- Contenedor del Comentari -->
                                <div class="comment-box">
                                    <div class="comment-head">
                                        <h6 class="comment-name by-author"><a href="{{ path('app_perfil', {'id':result.usuarios.id}) }}">{{ result.usuarios.nombre }} {{ result.usuarios.apellidos }}</a></h6>
                                        <span>Publicat: {{ result.fecha|date('d-m-Y') }}</span>
                                        <div class="botons-comentaris">
                                            {% if app.user == result.usuarios or is_granted('ROLE_MODERADOR') %}
                                                <a class="toltip" data-toggle="tooltip" data-placement="top" title="Editar Comentari"
                                                   href="{{ path('app_afegirComentariEvent', {'idEvent':event.id, 'idComent':result.id }) }}"><img src="{{ asset('bundles/AppBundle/banda/editar-comentari.png')}}"></a>
                                            {% endif %}
                                            {% if app.user == result.usuarios or is_granted('ROLE_MODERADOR') %}
                                                <a class="toltip" data-toggle="tooltip" data-placement="top" title="Esborrar Comentari"
                                                   href="{{ path('app_eliminarComentariEvent', {'idEvent':event.id, 'idComent':result.id }) }}"><img src="{{ asset('bundles/AppBundle/banda/eliminar-comentari.png')}}" ></a>
                                            {% endif %}
                                        </div>

                                    </div>
                                    <div class="comment-content">
                                        {{ result.texto }}
                                        {% if result.lastModify is not null %}
                                        <hr>
                                        <address>Última modificació: {{ result.lastModify|date('d-m-Y') }} per <a
                                        href="{{ path('app_perfil', {'id':result.lastUserModify.id}) }}"> {{ result.lastUserModify.username }}</address>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            {% endfor %}
        {% endif %}

        <a href="{{ path("app_afegirComentariEvent", {'idEvent':event.id}) }}" class="btn btn-default" style="margin-bottom: 1em;" role="button">Comentar</a>

        <div class="navigation">
            {{ knp_pagination_render(comentaris) }}
        </div>
    </div>

{% endblock %}