{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>

    <div class="col-sm-9 blog-main">
        <h1> {{ event.nombre }} ({{ event.tipo }})
            <!--Mostrar boto si es admin-->
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_afegirEvent',{'id':event.id}) }}"><img class="" src="{{ asset('bundles/AppBundle/banda/editar.png') }}"></a>
            {% else %}<!--Si no es admin comproba que siga el director de la agrupació del event-->
                {% for comprAgr in agrupacioDirector %}
                    {% if director and event.agrupacion.nombre == comprAgr %}
                        <a href="{{ path('app_afegirEvent',{'id':event.id}) }}"><img class="" src="{{ asset('bundles/AppBundle/banda/editar.png') }}"></a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </h1>
        <p>A carrec de la <strong>{{ event.agrupacion.nombre }}</strong> el día {{ event.fechaHora|date('d-m-Y') }},
            hora: {{ event.fechaHora|date('H:i') }} a <strong>{{ event.lugar }}</strong></p>

        <table class="table">
            <th>Obra</th><th>Compositor</th><th></th><th></th>
            {% if is_granted('ROLE_MUSIC') or is_granted('ROLE_DIRECTIU') %}
                <a href="{{ path("app_asistenciaAEvent", {'id':event.id}) }}" class="btn btn-default" style="margin-bottom: 1em;" role="button">Visualitzar Assistència</a>
                {% if is_granted('ROLE_MUSIC') and exist or is_granted('ROLE_DIRECTIU')%}
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path("app_mostrarComentarisEvent", {'idEvent':event.id}) }}" class="btn btn-default" style="margin-bottom: 1em;" role="button">Comentaris</a>
                {% endif %}
            {% endif %}
            &nbsp;&nbsp;&nbsp;
            <!--Mostrar boto si es admin-->
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path("app_asignarObraAEvent", {'idEvent':event.id}) }}" class="btn btn-default" style="margin-bottom: 1em;" role="button">Modificar Programa</a>
            {% else %}<!--Si no es admin comproba que siga el director de la agrupació del event-->
                {% for comprAgr in agrupacioDirector %}
                    {% if (director and event.agrupacion.nombre == comprAgr) %}
                        <a href="{{ path("app_asignarObraAEvent", {'idEvent':event.id}) }}" class="btn btn-default" style="margin-bottom: 1em;" role="button">Modificar Programa</a>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% for obra in event.obra %}
                <tr>
                    <td>{{ obra.nombre }}</td>
                    <td>{{ obra.compositor }}</td>
                    <td>
                        <!-- Este només es mostrará si eres music de la agrupació -->
                        {% if is_granted('ROLE_MUSIC') and exist %}
                            <a href="{{ path('app_mostrarObra', {'id':obra.id }) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Vorer Partitures">
                                <img src="{{ asset('bundles/AppBundle/banda/atril.png') }}" ></a>
                        {% endif %}
                    </td>
                    <td>
                        <!-- Este només es mostrará si eres director. -->
                        {% for mostra in agrupacioDirector %}
                            {% if not director and event.agrupacion.nombre == mostra %}
                                <a href="{{ path('app_eliminarObraEvent', {'idEvent':event.id, 'idObra':obra.id }) }}" class="toltip" data-toggle="tooltip" data-placement="top" title="Eliminar l'obra d'aquest event">
                                    <img src="{{ asset('bundles/AppBundle/banda/remove.png') }}"></a>
                            {% endif %}
                        {% endfor %}

                    </td>


                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}