{% extends 'AppBundle::layout.html.twig' %}
{% block body %}
    <link href="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/jquery-ui/jquery-ui.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/AppBundle/js/confirmar.js') }}"></script>

    <div id="dialog-confirm" title="Eliminar Competencia" hidden>
        <p><span class="ui-icon ui-icon-alert"></span>Vas a llevar el músic d'aquesta agrupació ¿Estàs segur?</p>
    </div>

    <div class="col-sm-9 blog-main">
        <h1>{{ usuari.username }}
        {% if app.user.username == usuari.username %}
        <a href="{{ path('app_modificarUsuari',{'id':usuari.id}) }}"><img class="" src="{{ asset('bundles/AppBundle/banda/editar.png') }}"></a>
        {% endif %}
        </h1>
        <div class="row">
            <div class="col-lg-5" style="">
                <img style="width: 120px; height: 120px;" src="{{ asset('bundles/AppBundle/banda/perfils/')}}{{ usuari.imagenPerfil}}">
                <p></br>Nom: {{ usuari.nombre }}</p>
                <p>Congnom: {{ usuari.apellidos }}</p>
                <p>Telèfon: {{ usuari.telefono }}</p>

                {% if usuari.baixa == 'Sí' %}<div class="alert alert-danger" style="width: 64%">
                <p style="font-weight: bold;">Usuari inactiu actualment</p>
                </div>{% endif %}
            </div>
            <div class="col-lg-7 alert alert-warning" style="">
                <p style="font-weight:bold;">Competències: </p>
                {% for result in toca %}
                    <p>{{ result.idUsuario.nombre }} toca l 'instrument "{{ result.idInstrumento.nombre }}"
                    a l'agrupació "{{ result.idAgrupacion.nombre }}"</p>

                {% endfor %}
                <!-- SI ES ADMIN MOSTRA EL BOTÓN AFEGIR COMPETENCIA-->
                {% if is_granted('ROLE_DIRECTIU') %}
                <a href="{{ path('app_asignarCompetencia', { 'id': usuari.id})}}" class="btn btn-default" style="margin-top: 0.5em;" role="button">Assignar instrument</a>
            </div>

                <!-- SI ES ADMIN MOSTRA EL BOTÓN AFEGIR PERMISOS-->
                {% if is_granted('ROLE_ADMIN') %}
                <div class="col-lg-7" style="margin-top: 2em;">
                    <a href="{{ path('app_permisos', { 'id': usuari.id})}}" class="btn btn-default" role="button">Assignar permisos</a>
                </div>
                {% endif %}
            {% else %}
            </div>
                {% endif %}
        </div>
    </div>


{% endblock %}